{% extends 'base.html' %}

{% block content %}
    <div class="rooms-content">
        <h2>Add room</h2>
        <form method="post">
            {% csrf_token %}

            {% for field in room_form %}
                <p>
                    {{ field.label_tag }}
                </p>
                <p>
                    {{ field }}
                </p>
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            {% endfor %}

            <div class="btn-primary">
                <button type="submit">Add room</button>
            </div>
        </form>
    </div>
{% endblock %}