{% extends 'base.html' %}

{% block content %}
    <div class="rooms-content">
        <h2>Add room</h2>
        <form method="post">
            {% csrf_token %}

            {{ room_form.as_p }}
            <label for="room">Select room:</label>
            <select name="room" id="room">
                <option value="room_1">Room One</option>
                <option value="room_2">Room Two</option>
                <option value="room_3">Room Three</option>
            </select>

            <div class="btn-primary">
                <button type="submit">Add movie</button>
            </div>
        </form>
    </div>
{% endblock %}