* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
    height: 100%;
}

.register-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #205067;
    margin-bottom: 50px;
}

.register-content form label {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: #205067;
}

.register-content form input {
    border: none;
    border-radius: 8px;
}

.register-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.register-content .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.register-content button {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #cccccc;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.register-content button:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.login-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.login-content form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #205067;
}

.login-content p {
    display: flex;
    align-items: center;
    justify-content: end;
}

.login-content form input {
    border: none;
    border-radius: 8px;
}

.login-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.login-content .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.login-content button {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.login-content button:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.profile-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.profile-content form label {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #205067;
}

.profile-content p {
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile-content form input {
    border: none;
    border-radius: 8px;
    margin-left: 5px;
}

.profile-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.profile-content form select {
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    padding: 2px;
}

.profile-content form select:hover {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.profile-content .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.profile-content button {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.profile-content button:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.movies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.movies-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.movies-content form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #205067;
}

.movies-content p {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.movies-content form input {
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    margin-top: 2px;
}

.movies-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.movies-content form select {
    border: none;
    border-radius: 8px;
    padding: 2px;
}

.movies-content form select:hover {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.movies-content .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.movies-content button {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.movies-content button:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.rooms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.rooms-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.rooms-content form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #205067;
}

.rooms-content p {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.rooms-content form input {
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    margin-top: 2px;
}

.rooms-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.rooms-content form select {
    border: none;
    border-radius: 8px;
    padding: 2px;
}

.rooms-content form select:hover {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.rooms-content .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.rooms-content button {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.rooms-content button:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.success-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.success-content form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #205067;
}

.success-content p {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
}

.success-content form input {
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    margin-top: 2px;
}

.success-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.success-content form select {
    border: none;
    border-radius: 8px;
    padding: 2px;
}

.success-content form select:hover {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.success-content .btn-secundary {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

.success-content a {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    text-decoration: none;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.success-content a:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.sales-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.sales-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.sales-content form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #205067;
}

.sales-content p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.sales-content form input {
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    margin-top: 2px;
}

.sales-content form input:focus {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.sales-content form select {
    border: none;
    border-radius: 8px;
    padding: 2px;
}

.sales-content form select:hover {
    outline: none;
    border: 2px solid rgba(32, 80, 103, 0.5);
}

.sales-content .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.sales-content button {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.sales-content button:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.ticket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    border-radius: 10px;
    margin: 100px 0;
    padding: 50px;
}

.ticket-content h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    color: #205067;
}

.ticket-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.ticket-info span {
    font-weight: 700;
    color: #205067;
}

.ticket-content .btn-secondary {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

.ticket-content a {
    border: 2px solid #205067;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: transparent;
    text-decoration: none;
    color: #205067;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    transition: .2s ease-in-out 0s;
}

.ticket-content a:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #205067;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}