{% extends 'base.html' %}

{% block content %}
    <div class="sales-content">
        <h2>Select movie</h2>
        <form method="post">
            {% csrf_token %}
            <label for="movie">Choose the movie:</label>
            <select name="movie" id="movie">
                {% for movie in movies_list %}
                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
            <label for="room">Choose the room:</label>
            <select name="room" id="room">
                {% for room in rooms_list %}
                    <option value="{{ room.id }}">{{ room.name }}</option>
                {% endfor %}
            </select>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price">

            <div class="btn-primary">
                <button type="submit">Complete sale</button>
            </div>
        </form>
{% endblock %}
