{% extends 'base.html' %}

{% block content %}
    <div class="sales-content">
        <h2>Select movie</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in movie_sales_form %}
                <p>
                    {{ field.label_tag }}
                </p>
                <p>
                    {{ field }}
                </p>

                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            {% endfor %}

            {% for field in seat_sales_form %}
                <p>
                    {{ field.label_tag }}
                </p>
                <p>
                    {{ field }}
                </p>

                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            {% endfor%}

            <div class="btn-primary">
                <button type="submit">Next</button>
            </div>
        </form>
    </div>
{% endblock %}